<h4>Welcome to Rent a Room</h4>
<p>
<%if @rooms.empty? %>
<p> No rooms found</p>
<%else%>

	<% @rooms.each do |room| %>
 
	<%if (room.is_authorized == true) %>
	<ul>
		<li><%= link_to room.name, room %></li>	
	</ul>
	<%end%>
	<%end%>
<%end%>
<p><%= link_to "Add room", new_room_path %></p>

